﻿
@using PIdevDomain.Entities;
@model IEnumerable<Farmer>
<table>
    <tr>
        <th>Actions</th>

        <th>Name</th>

        <th>Description</th>
    </tr>
   @foreach (var item in Model)
{
    <tr>
        <td>

            @Ajax.ActionLink("Delete", "Delete", new { id = item.ClientId },
                new AjaxOptions
                {
                    Confirm = "Delete Farmer?",
                    HttpMethod = "Post",
                    UpdateTargetId = "divClientList"
                })
        </td>
        <td>
            @item.Login
        </td>
        <td>
            @item.FirstName
        </td>
        <td>
            @item.LastName
        </td>
        <td>
            @item.Region
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ClientId })
        </td>
    </tr>

}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

