﻿@model IEnumerable<PIdevDomain.Entities.Farmer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h2>farmer List</h2>

<div id="divCategoryList">
    @Html.Partial("ClientList", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
