﻿@model IEnumerable<PIdevDomain.Entities.Veterinary>

@{
    ViewBag.Title = "Index";
}

<h2>Veterinaries List</h2>

<div id="divCategoryList">
    @Html.Partial("VeterinaryList", Model)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
