﻿@using PIdevDomain.Entities;
@model IEnumerable<Veterinary>
<table>
    <tr>
        <th>Actions </th>

        <th>Name </th>

        <th>Description </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>

                @Ajax.ActionLink("Delete", "Delete", new { id = item.ClientId },
                new AjaxOptions
                {
                    Confirm = "Delete Veterinary?",
                    HttpMethod = "Post",
                    UpdateTargetId = "divVeterinaryList"
                })
            </td>
            <td>
                @item.Login
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.Region
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ClientId })
            </td>
        </tr>

    }

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @using (Html.BeginForm())
{
    <table>
        <tr>
            <td>
                <div>
                    Search by Region: @Html.TextBox("recherche")

                </div>
            </td>
            <td>
                <div>
                    @Html.ActionLink("Search", "listRegion")
                </div>
            </td>
                @*<td>
                <input type="submit" value="Search" id="submit" />
            </td>
            <td>
                @ViewBag.Message

            </td>*@
</tr>
    </table>
}
</p>